<div class="col-xl-6">
	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-table me-1"></i>
	        	入学年月日
	    </div>
		<div class="card-body">
			<table class="table table-bordered">
			    <tbody>
					<tr>
						<th>小学校入学</th>
			    		<td>{{ syo_1 }}</td>
					</tr>
					<tr>
						<th>小学校卒業</th>
			    		<td>{{ syo_2 }}</td>
					</tr>
					<tr>
						<th>中学校入学</th>
			    		<td>{{ tyu_1 }}</td>
					</tr>
					<tr>
						<th>中学校卒業</th>
			    		<td>{{ tyu_2 }}</td>
					</tr>
					<tr>
						<th>高校入学</th>
			    		<td>{{ kou_1 }}</td>
					</tr>
					<tr>
						<th>高校卒業</th>
			    		<td>{{ kou_2 }}</td>
					</tr>
					<tr>
						<th>4年制大学入学<br></th>
                        <th>2年制専門学校/短大入学</th>
					</tr>
                        <th>{{ dai_1 }}</th>
                        <th>{{ sen_1 }}</th>
					<tr>
					</tr>
					<tr>
						<th>4年制大学卒業</th>
			    		<th>2年制専門学校/短大卒業</th>
					</tr>
                    <tr>
                        <th>{{ dai_2 }}</th>
                        <th>{{ sen_2 }}</th>
                    </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>